.wif {
    background-color: rgb(40, 40, 40);
    padding-bottom: 10%;
    /* padding-right: 5%;
    padding-left: 5%; */
}

.imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wif img {
    width: 100%;
    display: block; /* This removes the default margin at the bottom of the image */
}

.wif-content {
    padding-right: 5%;
    padding-left: 5%;
}

.wif h1 {
    position: absolute;
    text-align: center;
    color: #000000;
    font-weight: 900;
    font-size: 700%;
    margin: 0; /* Remove margin to center it properly */
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.wif p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
    color: #fff;
}

.wif h3 {
    text-align: center;
    color: #0015b2;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.wif h4 {
    color: #00ff22;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.wif h5 {
    color: #002aff;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
}

#ffp {
    color: #00c400;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* video wrapper */

.wrapper-wif {
    --color: #035bff;
    --color-invert: #02f607;
    --clip-path: circle(30px at left);
    --clip-path-hover: circle(80px at left);
    --clip-path-clicked: circle(100vw at left);
    --duration: 0.4s;
    --timing-function: ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100px;
  }

  .wrapper-wif .video-wif {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    clip-path: var(--clip-path);
    transition: clip-path var(--duration) var(--timing-function);
  }

  .wrapper-wif .video-wif iframe {
    position: fixed;
    background: #c4cbde;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 90%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .wrapper-wif .text-wif {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 0.2px;
    opacity: var(--opacity, 1);
    transition: opacity 0.3s var(--timing-function) 0.2s;
  }

  .wrapper-wif .text-wif::before, .wrapper-wif .text-wif::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1px;
    right: 25px;
    height: 0;
  }

  .wrapper-wif .text-wif::before {
    box-shadow: 26px 0 0 1px var(--color);
    right: var(--r, 100%);
    opacity: var(--opacity, 0);
    transition: right 0.5s ease-in, opacity 0.1s linear;
  }

  .wrapper-wif .text-wif::after {
    box-shadow: 26px 0 0 1px var(--color-invert);
    clip-path: var(--clip-path);
    transition: clip-path var(--duration) var(--timing-function);
  }

  .wrapper-wif .text-wif > span::before, .wrapper-wif .text-wif > span::after {
    content: attr(data-text);
    padding-left: 26px;
  }

  .wrapper-wif .text-wif > span::before {
    color: var(--color);
  }

  .wrapper-wif .text-wif > span::after {
    color: var(--color-invert);
    clip-path: var(--clip-path);
    transition: clip-path var(--duration) var(--timing-function);
    position: absolute;
    left: 0;
  }

  .wrapper-wif input {
    width: 220px;
    height: 40px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 40px;
    outline: none;
    z-index: 2;
    appearance: none;
    cursor: pointer;
  }

  .wrapper-wif input:focus {
    outline: 0;
  }

  .wrapper-wif input:hover ~ .video-wif {
    clip-path: var(--clip-path-hover);
  }

  .wrapper-wif input:hover ~ .text-wif::before {
    --r: 25px;
    --opacity: 1;
  }

  .wrapper-wif input:hover ~ .text-wif::after {
    clip-path: var(--clip-path-hover);
  }

  .wrapper-wif input:hover ~ .text-wif > span::after {
    clip-path: var(--clip-path-hover);
  }

  .wrapper-wif input:checked {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .wrapper-wif input:checked ~ .video-wif {
    clip-path: var(--clip-path-clicked);
  }

  .wrapper-wif input:checked ~ .text-wif {
    --opacity: 0;
    transition: opacity 0.3s var(--timing-function);
  }

  .wrapper-wif input:checked ~ .text-wif::after {
    clip-path: var(--clip-path-clicked);
  }
  .wrapper-wif input:checked ~ .text-wif > span::after {
    clip-path: var(--clip-path-clicked);
  }

  /* btn */

.back-to-int {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}

.back-to-int a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}



.back-to-int a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}


.back-to-int a span {
    position: absolute;
    display: block;
}




.back-to-int a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}



.back-to-int a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


.back-to-int a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.back-to-int a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



.back-to-int a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.back-to-int a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



.back-to-int a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.back-to-int a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.close-video {
  position:fixed;
  top: 17%;
  right: 1%;
  background-color: #2196f3;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}

.close-video:hover {
  background-color: #00c400;
}

.fmh-ses {
  max-width:50%;
  margin: 0 auto;
}