footer {
    position: fixed;
    background-color: rgb(45, 45, 45);
    color:aliceblue;
    text-align: center;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  