.footer-m {
    position: fixed;
    background-color: rgb(45, 45, 45);
    color:aliceblue;
    text-align: center;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .bg-main {
    position: relative;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* Initially transparent */
    pointer-events: none; /* So it doesn't interfere with any interactions */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.bg-main img {
    width: 100%;
    height: auto;
}
