.footer-m {
    position: fixed;
    /* background-color: rgb(45, 45, 45); */
    color:aliceblue;
    text-align: center;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .bg-main {
    position: relative;
}

.parallax-image {
  height: 100vh;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -3%;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.bg-main img {
    width: 100%;
    height: auto;
}

.i-mainbg {
  transition: opacity 0.5s ease; /* Smooth transition */
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  top: 30%;
  width: 95%;
  padding: 5px;
  z-index: 1;
  font-size: 350%;
  font-weight: bold;
}

.i-mainbg h4 {
  color: rgb(1, 109, 216);
  font-weight: bold;
  font-size: 80%;
  text-align: center;
  margin: 10%;
}

.info-mainbg {
  transition: opacity 0.5s ease; /* Smooth transition */
  position: absolute;
  color: aliceblue;
  text-align: center;
  width: 95%;
  padding: 5px;
  z-index: 1;
  font-size: 270%;
  font-weight: bold;
}

.info-mainbg1 {
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth transition */
  position: absolute;
  color: rgb(3, 3, 3);
  text-align: center;
  width: 95%;
  padding: 5px;
  z-index: 1;
  font-size: 270%;
  font-weight: bold;
}

.info-mainbg2 {
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth transition */
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 95%;
  padding: 5px;
  z-index: 1;
  font-size: 270%;
  font-weight: bold;
}

.main-page{
  padding-bottom: 10%;
  background-color: rgb(40, 40, 40);
}

.main-t1{
  text-align: center;
  /* margin: 5%; */
}

.name-main {
  background: linear-gradient(to right, #48ff00, #00ffd5, #002bff, #001ba4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 400%;
  font-weight: bold;
  text-align: center;
  padding: 7%;
  filter: drop-shadow(0 0 4px #48ff00);
  animation: glowname 10s infinite;
  padding-bottom: 5px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0005);
}

@keyframes glowname {
  0%, 100% {
      filter: drop-shadow(0 0 2px #48ff00);
  }
  25% {
      filter: drop-shadow(0 0 2px #00ffd5);
  }
  50% {
      filter: drop-shadow(0 0 2px #002bff);
  }
  75% {
      filter: drop-shadow(0 0 2px #001ba4);
  }
}



.slogan-main{
  text-align: center;
  background: linear-gradient(to right, #2200ff, #009dff, #00d9ff, #001ba4);
  -webkit-background-clip: text;
  font-size: 300%;
  font-weight:initial;
  background-clip: text;
  color: transparent;
  padding: 5%;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.tracking-out-contract {
	-webkit-animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


 @-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}


/* cards-main */
.card1 {
  text-align:center;
  position: absolute;
  left: 100px;
  width: 220px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(rgb(92, 249, 7),rgb(213, 255, 4));
  transition:.6s;
  
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}
.main-cards-1st {
  background-color: rgb(40, 40, 40);
  -webkit-transform: perspective(500px);
  -webkit-transform-style: preserve-3d;
}

.main-cards-1st h3 {
  font-size:30px;
  font-family: 'Abel', sans-serif;
  color:rgb(116, 116, 116);
  text-shadow: 0 0 3px rgb(0, 0, 0);
  transform: translatey(8px);
  margin: 5%;
}

.main-cards-1st p {
  font-family: 'Abel', sans-serif;
  color: white;
  text-align:center;
  width:190px;
  transform: translatex(12px);
  text-decoration: none;
}
.card1:hover{
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card1 img{
  transform: translateY(15px);
  width:180px;
  height:120px;
}

.card2 {
  text-align:center;
  position: absolute;
  left: 450px;
  width: 220px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#00a1f8,#00ffe5);
  /* animation: animate 1s linear infinite; */
  transition:.6s;
  
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}
.card2:hover{
   transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card2 img{
  transform: translateY(15px);
  width:180px;
  height:150px;
}
.card3 {
  text-align:center;
  position: absolute;
  left: 800px;
  width: 220px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#0046f8, #00d5ff);
  transition:.6s;
  
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}
.card3:hover{
   transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card3 img{
  transform: translateY(15px);
  width:180px;
  height:120px;
}

.no-underline, .no-underline:hover, .no-underline:visited, .no-underline:active {
    text-decoration: none;
}


.after-c {
  background-color: rgb(40, 40, 40);
  padding: 20%;
  
}


.logo-svg {
  width: 20%;
}

#cube-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0;
  color: #48ff00;
  z-index: 1000 !important;
  font-size: 200%;
  font-family: 'Abel', sans-serif;
  width: 80%;
  margin: 0 auto;
  
}