.menu_header {
    position: relative;
}

.menu {
    position: absolute;
    width: 100%;
    height: 0;
    transition: background .5s ease;
}

.menu_opener {
    display: inline-block;
    width: 64px;
    height: 48px;
    position: fixed;
    transform: rotate(0deg);
    cursor: pointer;
    top: 23px;
    /* right: 14px; */
    z-index: 100;
    background: transparent;
    border: 0;
    outline: 0;
}

.menu_opener span {
    display: block;
    position: absolute;
    height: 3px;
    width: 32px;
    opacity: 1;
    /* left: 0px; */
    transform: rotate(0deg);
    transition: .25s ease-in-out, background-color .3s ease-out;
    background: #fff;
}

.menu_opener span:first-child {
    top: 13px;
}

.menu_opener span:nth-child(2),
.menu_opener span:nth-child(3) {
    top: 21px;
}

.menu_opener span:nth-child(4) {
    top: 29px;
}

.menu_opener:hover span {
    background: #00fffc!important;
    box-shadow: 0 0 5px #00fffc!important;
}

.menu_menu {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #111517ee;
    height: 100%;
    width: 100%;
    transition: opacity .3s ease, visibility .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    padding: 2%;
}

.menu_list {
    list-style: none;
    padding: 0;
    margin: 0 0 1.625rem;
    transition: opacity .3s ease-in;
    visibility: hidden;
    opacity: 0;
}

.menu_item {
    padding: 0;
    margin: 0;
}

.menu_link {
    font-family: Maison Neue, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #888;
    text-decoration: none;
    line-height: 1.7777;
    transition: color .3s;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.menu_link:hover {
    color: #fff;
    text-shadow: 0 0 5px #00fffc;
}

.menu_link-anim .link_layer {
    position: absolute;
    left: 0;
    overflow: hidden;
    background-color: #111517;
    width: 100%;
    display: block;
    transform: translate3d(-100%,0,0);
}

.menu_link-anim .link_layer:before {
    background-color: #111517;
    content: attr(data-text);
    width: 100%;
    display: block;
    transform: translate3d(100%,0,0);
    color: #00fffc;
}

.menu_link-anim:hover .link_layer {
    animation: anim-in-layer .3s ease forwards;
}

.menu_link-anim:hover .link_layer:before {
    animation: anim-in-text .3s ease forwards;
}

.menu_item-big .menu_link {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.22;
    color: #fff;
}

@keyframes anim-in-layer {
    0% {
        transform: translate3d(-100%,0,0);
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes anim-out-layer {
    0% {
        transform: translateZ(0);
    }
    to {
        transform: translate3d(100%,0,0);
    }
}

@keyframes anim-in-text {
    0% {
        transform: translate3d(100%,0,0);
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes anim-out-text {
    0% {
        transform: translateZ(0);
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}

.menu.menu-opened .menu_menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.menu.menu-opened .menu_opener span:first-child,
.menu.menu-opened .menu_opener span:nth-child(4) {
    opacity: 0;
}

.menu.menu-opened .menu_opener span:nth-child(2) {
    transform: rotate(45deg);
    top: 21px;
}

.menu.menu-opened .menu_opener span:nth-child(3) {
    transform: rotate(-45deg);
    top: 21px;
}

/* Added CSS for menu list visibility */
.menu.menu-opened .menu_list {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}
