
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;          
    left: 0;          
    width: 100%;
    z-index: 1000;
  }
  
  .navlogo {
    display: flex;
    align-items: center;
  }
  
  .navlogo img {
    width: 50%;
    height: auto;
    margin-right: 10px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .links-nav, .links-auth {
    display: flex;
    gap: 10px; /* Space between links/buttons */
  }
  
  .links-nav a, .links-auth a {
    text-decoration: none;
    /* color: white; */
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .links-nav a:hover, .links-auth a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .signup, .login {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    color: aliceblue;
  }
  
  /* If you want to give different styles to signup and login links, you can target them specifically using their class names */
  .signup a {
    color: aliceblue;
  }
  
  .login a {
    color: aliceblue;
  }
  
  .nav-bar.scrolled {
    background-color: rgb(30, 30, 30); /* Or any other color you prefer */
    transition: background-color 0.3s ease; /* Smooth transition */
}
