svg {
    width: 100%;
    height: 100%;
    visibility: hidden;
    
   }
   
   .ell, #ai {
       fill: none;
   }

   .animated-svg-container {
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.9); /* Optional: white background with slight transparency */
  }
  