.news-main {
    background-color:            rgb(40, 40, 40);
    padding-bottom: 10%;
    overflow-x: hidden;
    min-height: 100vh;
}

.news-parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.news-parallax img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#news-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #078cf9;
    z-index: 20;
    animation: glowNews 2s infinite;
    padding-bottom: 1px;
    -webkit-box-reflect: below 1px
      linear-gradient(transparent, transparent, #0005);
}
@keyframes glowNews {
    0% {
        filter: drop-shadow(0 0 4px #078cf9);
    }
    50% {
        filter: drop-shadow(0 0 10px #078cf9);
    }
    100% {
        filter: drop-shadow(0 0 4px #078cf9);
    }
}


.news-main img {
    width: 100%;
    display: block; /* This removes the default margin at the bottom of the image */
}

#news-table {
    width: 100%;
    z-index: 100;
}

#news-woman {
    width: 9%;
    z-index: 50;
    top: 40%;
    left: 30%;
}

#news-woman2 {
    width: 15%;
    z-index: 50;
    transform: scaleX(-1);
    top: 40%;
    left: 60%;
}

#FA-logo {
    width: 15%;
    z-index: 30;
    top: 40%;
    left: 80%;
    animation: glowNews 2s infinite;
}
/* @keyframes glowFAnews {
    0% {
        filter: drop-shadow(0 0 2px #7bff00);
    }
    50% {
        filter: drop-shadow(0 0 5px #7bff00);
    }
    100% {
        filter: drop-shadow(0 0 2px #7bff00);
    }
} */

#TT-logo {
    width: 20%;
    z-index: 30;
    top: 37%;
    left: 0%;
    animation: glowNews 2s infinite;
}

#TT-name {
    width: 20%;
    z-index: 30;
    top: 37%;
    left: 40%;
}