.news-main {
    background-color: rgb(40, 40, 40);
    padding-bottom: 10vh;
    overflow-x: hidden;
    min-height: 100vh;
}

.news-parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.news-parallax img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    pointer-events: none;
}

#news-text {
    position: absolute;
    color: #078cf9;
    z-index: 20;
    animation: glowNews 2s infinite;
    padding-bottom: 0.5px;
    /* -webkit-box-reflect: below 1vw linear-gradient(transparent, transparent, #0005); */
}

@keyframes glowNews {
    0% {
        filter: drop-shadow(0 0 4px #078cf9);
    }
    50% {
        filter: drop-shadow(0 0 10px #078cf9);
    }
    100% {
        filter: drop-shadow(0 0 4px #078cf9);
    }
}

.news-main img {
    width: 100vw;
    display: block;
}

#news-table {
    width: 100vw;
    z-index: 100;
}

#click-news {
    width: 100vw;
    z-index: 101;
    animation: glowClick 4s infinite, fade 4s infinite;
    pointer-events: auto;
}

.clickableAreaNews {
    pointer-events: auto;
}

.clickableAreaNews:hover {
    cursor: pointer;
}


#news-woman {
    z-index: 50;
}

#news-woman2 {
    z-index: 50;
}

#FA-logo {
    z-index: 30;
    animation: glowTTname 2s infinite;
}

@keyframes glowTTname {
    0% {
        filter: drop-shadow(0 0 2px #7bff00);
    }
    50% {
        filter: drop-shadow(0 0 5px #7bff00);
    }
    100% {
        filter: drop-shadow(0 0 2px #7bff00);
    }
}

#TT-logo {
    z-index: 30;
    animation: glowNews 2s infinite;
}

#TT-name {
    z-index: 30;
    animation: glowTTname 2s infinite;
}

.news-sec {
    position: relative;
    padding: 10vh;
    background: #112434;
}

.news-sec h2, .news-sec h3, .news-sec p {
    font-size: 3vw;
    color: #fff;
    margin-bottom: 1vw;
}

@keyframes glowClick {
    0%, 100% {
        filter: drop-shadow(0 0 20px #078cf9);
    }
    50% {
        filter: drop-shadow(0 0 25px #078cf9);
    }
}

@keyframes fade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.fade-out {
    animation: glowClick 2s infinite, fade 2s infinite;
}

#news-main-bg {
    width: 60%; 
}

.news-main1 {
    background-color: rgb(40, 40, 40);
    padding-bottom: 10vh;
    overflow-x: hidden;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
